@media screen and (max-width:768px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .container{
        width: 100%;
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header{
        padding-bottom: 122px;
    }
    .main{
        .main_inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            &__left{
                h2{
                    text-align: center;
                    font-size: 64px;
                    line-height: 56px;
                }
                h3{
                    font-size: 32px;
                    line-height: 48px;
                    text-align: center;
                    padding-top: 24px;
                }
                h4{
                    left: 0;
                }
            }
            &__right{
                margin-top: 50px;
            }
        }
    }
    .footer{
        justify-content: space-between;
        position: relative;
        padding: 56px 0 100px 0;
        .footer_inner{
            &__left{
                margin: 0;
                padding: 0;
                .logo{
                    padding-bottom: 53px;
                }
            }
            &__midle{
                margin: 0;
                h6{
                    position: absolute;
                    right: 25px;
                    text-align: end;
                }
            }
            &__right{
                h6{
                    position: absolute;
                    right: 25px;
                    top: 210px;
                }
                .social{
                    position: absolute;
                    left: 0;
                    top: 210px;
                    left: 10px;
                }
            } 
        }
    }
}