@media screen and (max-width:576px){
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 100%;
    }
    .container{
        width: 100%;
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .header{
        .hamburger{
            display: block;
        }
        padding: 0 0 80px 0;
        .header_top{
            .header_top__link{
                .links{
                    display: none;
                }
            }
            .connect{
                display: none;
            }
        }
    }
    .main{
        background-image: url('../images/bac2.png');
        background-position: right bottom -100px;
        background-color: #014e56;
        .main_inner{
            &__left{
                display: flex;
                align-items: center;
                flex-direction: column;
                h2{
                    font-size: 40px;
                    line-height: 40px;
                }
                h3{
                    padding-top: 0;
                    padding-bottom: 43px;
                }
                h4{
                    padding-bottom: 40px;
                    width: 62%;
                    &.before1{
                        &::before{
                            top: -15px;
                        }
                    }

                    &.before2{
                        &::before{
                            top: -15px;
                        }
                    }

                    &.before3{
                        &::before{
                            top: -15px;
                        }
                    }
                }
            }
            &__right{
                input{
                    width: 325px;
                }
                textarea{
                    width: 325px;
                }
            }
        }
    }
    .footer{
        padding: 100px 0 100px 0;
        .footer_inner{
            flex-direction: column;
            align-items: center;
            &__left{
                margin: 0;
                padding-bottom: 24px;
                .logo{
                    margin-left: 10px;
                }
                .home{
                    margin-left: 20px;
                }
            }
            &__midle{
                margin: 0;
                h6{
                    text-align: center;
                    left: 0;
                    right: 0;
                }
            }
            &__right{
                text-align: center;
                a{
                    padding: 0;
                    display: inline-block;
                    margin-left: 16px;
                    position: relative;
                    left: 200px;
                    top: 180px;
                }
                h6{
                    text-align: center;
                    position: static;
                    display: block;
                    margin-top: 180px;
                }
            }
        }
    }
}