* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Livvic', sans-serif;
}

header {
  background-image: url("../images/Group 8.png");
  background-repeat: no-repeat;
  background-position-y: 250px;
  background-size: 200px contain;
}

header .hamburger {
  display: none;
}

header .hamburger .navbar {
  z-index: 4;
  width: 300px;
  height: 500px;
  position: fixed;
  background-color: #000;
  top: 0;
  right: -300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 150% 0 0 150%;
}

header .hamburger .navbar.change {
  right: 0;
}

header .hamburger .navbar .hamburger_menu .change .line-1 {
  -webkit-transform: rotateZ(-45deg) translate(-8px, 6px);
          transform: rotateZ(-45deg) translate(-8px, 6px);
}

header .hamburger .navbar .hamburger_menu .change .line-2 {
  opacity: 0;
}

header .hamburger .navbar .hamburger_menu .change .line-3 {
  -webkit-transform: rotateZ(45deg) translate(-8px, -6px);
          transform: rotateZ(45deg) translate(-8px, -6px);
}

header .hamburger .navbar .nav_list {
  text-align: right;
}

header .hamburger .navbar .nav_list li {
  list-style-type: none;
  margin: 25px;
}

header .hamburger .navbar .nav_list .navlist {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px;
}

header .hamburger .navbar .nav_list .navlist:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .hamburger .navbar .nav_list .navlist:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .hamburger .navbar .nav_list .navlist::before, header .hamburger .navbar .nav_list .navlist::after {
  content: '';
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  width: 100%;
  height: 3px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header .hamburger .navbar .nav_list .navlist::after {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .hamburger .navbar .nav_list .navlist::before {
  -webkit-transform-origin: right;
          transform-origin: right;
  bottom: 0;
}

header .hamburger .hamburger_menu {
  width: 35px;
  height: 36px;
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .hamburger .hamburger_menu .line {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
  height: 3px;
  background-color: chocolate;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  background-color: #014e56;
  padding-bottom: 124px;
}

.header.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  background-image: url("../images/Group 4.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.header .header_top {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header_top .header_top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_top__link .links {
  margin-left: 80px;
}

.header .header_top .header_top__link .links a {
  padding-right: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header .header_top .connect {
  padding: 9px 32px 11px 32px;
  border-radius: 24px;
  border: 2px solid #fff;
}

.header .header_top .connect a {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.main {
  background-image: url("../images/bac1.png"), url("../images/bac2.png");
  background-color: #014E56;
  background-repeat: no-repeat;
  background-position: top left, right bottom;
  padding-bottom: 70px;
}

.main .main_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .main_inner__left h2 {
  font-size: 64px;
  font-weight: bold;
  line-height: 100px;
  font-style: normal;
  color: #fff;
}

.main .main_inner__left h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #F67E7E;
  padding-bottom: 54px;
}

.main .main_inner__left h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  padding-bottom: 52px;
  position: relative;
  left: 80px;
}

.main .main_inner__left h4.before1::before {
  content: '';
  position: absolute;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  top: -25px;
  left: -85px;
  background-image: url("../images/before.png");
}

.main .main_inner__left h4.before2::before {
  content: '';
  position: absolute;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  top: -25px;
  left: -85px;
  background-image: url("../images/before2.png");
}

.main .main_inner__left h4.before3::before {
  content: '';
  position: absolute;
  background-position: center;
  margin: auto;
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  top: -25px;
  left: -85px;
  background-image: url("../images/before3.png");
}

.main .main_inner__right .label-block {
  position: relative;
  margin-bottom: 42px;
}

.main .main_inner__right label {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
  display: block;
  padding-left: 10px;
  position: absolute;
  top: -18px;
  -webkit-transition: -webkit-transform ease .4s;
  transition: -webkit-transform ease .4s;
  transition: transform ease .4s;
  transition: transform ease .4s, -webkit-transform ease .4s;
}

.main .main_inner__right input {
  display: block;
  border: none;
  outline-style: none;
  width: 540px;
  border-bottom: 1px solid #fff;
  margin-bottom: 24px;
  background-color: #014e56;
  color: #fff;
  padding-left: 5px;
  padding-bottom: 3px;
}

.main .main_inner__right input:focus {
  border-bottom: 1px solid #f67e7e;
}

.main .main_inner__right input:focus + label {
  -webkit-transform: translate(-14px, -10px);
          transform: translate(-14px, -10px);
  color: #f67e7e;
  opacity: 1;
}

.main .main_inner__right textarea {
  background-color: #014e56;
  display: block;
  border: none;
  outline-style: none;
  resize: none;
  width: 540px;
  height: 56px;
  border-bottom: 1px solid #fff;
  padding-left: 10px;
  padding-bottom: 3px;
  color: #fff;
}

.main .main_inner__right textarea:focus {
  border-bottom: 1px solid #f67e7e;
}

.main .main_inner__right textarea:focus + label {
  -webkit-transform: translate(-14px, -10px);
          transform: translate(-14px, -10px);
  opacity: 1;
  color: #f67e7e;
}

.main .main_inner__right button {
  padding: 9px 32px 11px 32px;
  border-radius: 25px;
  background-color: #fff;
  color: #004047;
  border: none;
  outline-style: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 24px;
}

.footer {
  padding: 48px 0;
  background-color: #002529;
}

.footer .footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_inner__left {
  margin-right: 125px;
}

.footer .footer_inner__left .logo {
  padding-bottom: 25px;
  display: block;
}

.footer .footer_inner__left .home a {
  padding-right: 35px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer .footer_inner__midle {
  margin-right: 300px;
}

.footer .footer_inner__midle h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

.footer .footer_inner__right {
  text-align: end;
}

.footer .footer_inner__right a {
  padding-left: 16px;
  padding-bottom: 53px;
  display: inline-block;
}

.footer .footer_inner__right h6 {
  font-style: normal;
  font-weight: 600px;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container {
    width: 100%;
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header {
    padding-bottom: 122px;
  }
  .main .main_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .main_inner__left h2 {
    text-align: center;
    font-size: 64px;
    line-height: 56px;
  }
  .main .main_inner__left h3 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    padding-top: 24px;
  }
  .main .main_inner__left h4 {
    left: 0;
  }
  .main .main_inner__right {
    margin-top: 50px;
  }
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding: 56px 0 100px 0;
  }
  .footer .footer_inner__left {
    margin: 0;
    padding: 0;
  }
  .footer .footer_inner__left .logo {
    padding-bottom: 53px;
  }
  .footer .footer_inner__midle {
    margin: 0;
  }
  .footer .footer_inner__midle h6 {
    position: absolute;
    right: 25px;
    text-align: end;
  }
  .footer .footer_inner__right h6 {
    position: absolute;
    right: 25px;
    top: 210px;
  }
  .footer .footer_inner__right .social {
    position: absolute;
    left: 0;
    top: 210px;
    left: 10px;
  }
}

@media screen and (max-width: 576px) {
  * {
    margin: 0;
    padding: 0;
  }
  body {
    width: 100%;
  }
  .container {
    width: 100%;
    max-width: 540px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header {
    padding: 0 0 80px 0;
  }
  .header .hamburger {
    display: block;
  }
  .header .header_top .header_top__link .links {
    display: none;
  }
  .header .header_top .connect {
    display: none;
  }
  .main {
    background-image: url("../images/bac2.png");
    background-position: right bottom -100px;
    background-color: #014e56;
  }
  .main .main_inner__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .main_inner__left h2 {
    font-size: 40px;
    line-height: 40px;
  }
  .main .main_inner__left h3 {
    padding-top: 0;
    padding-bottom: 43px;
  }
  .main .main_inner__left h4 {
    padding-bottom: 40px;
    width: 62%;
  }
  .main .main_inner__left h4.before1::before {
    top: -15px;
  }
  .main .main_inner__left h4.before2::before {
    top: -15px;
  }
  .main .main_inner__left h4.before3::before {
    top: -15px;
  }
  .main .main_inner__right input {
    width: 325px;
  }
  .main .main_inner__right textarea {
    width: 325px;
  }
  .footer {
    padding: 100px 0 100px 0;
  }
  .footer .footer_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer_inner__left {
    margin: 0;
    padding-bottom: 24px;
  }
  .footer .footer_inner__left .logo {
    margin-left: 10px;
  }
  .footer .footer_inner__left .home {
    margin-left: 20px;
  }
  .footer .footer_inner__midle {
    margin: 0;
  }
  .footer .footer_inner__midle h6 {
    text-align: center;
    left: 0;
    right: 0;
  }
  .footer .footer_inner__right {
    text-align: center;
  }
  .footer .footer_inner__right a {
    padding: 0;
    display: inline-block;
    margin-left: 16px;
    position: relative;
    left: 200px;
    top: 180px;
  }
  .footer .footer_inner__right h6 {
    text-align: center;
    position: static;
    display: block;
    margin-top: 180px;
  }
}
/*# sourceMappingURL=main.css.map */